natives/
logs/
.fabric/

config.json
config_new_temp.json
options.txt
realms_persistence.json
usercache.json

config.bak.json
ds_private_storage.json

config/*
!config/defaultsettings.json
!config/defaultsettings/
